/* Diagonals theme
 */

.theme-diagonals,
.theme-diagonals-thumb .theme-preview {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAQMAAACT2TfVAAAABlBMVEUAAAD///+l2Z/dAAAANklEQVQIWx3DwQkAIAwEweMaN6VZSkrIMw8xLg6M17RDbf3F5LYmKOvysFlMbnmCki8Pm8WUHhEDFuFJix/eAAAAAElFTkSuQmCC');
}

.theme-diagonals .card-content {
  @include theme(light);

  .card-picture {
    background-color: $white;

    opacity: 1 !important;
  }

  .person,
  .details,
  .email,
  .url {
    width: emCalc(172);
  }

  .card-item {
    left: 56%;
    padding: emCalc(4);
    background-color: $white;

    color: #000;

    &:hover {
      background-color: darken($white, 10%);
    }

    a {
      color: #000;
    }

    p {
      line-height: 1.2em;
    }
  }

}
