<!doctype html>
<html>
<head>
  <meta name="appsfuel_code" content="b8343d7e88b0a77"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; Business Card Maker
    {{else}}
      Free business cards in seconds, easy to customize using high quality professional designs &#8212; Business Card Maker
    {{/if}}
  </title>
  <meta name="description" content="Easily create your own business cards in seconds, using high quality professional designs, then download them for free as PDF or JPG.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

  <!-- build:css({.tmp,app}) /styles/website.css -->
  <link rel="stylesheet" href="/bower_components/foundation-sites/dist/foundation.css">
  <link rel="stylesheet" href="/bower_components/angular-meditor/dist/meditor.css">
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
</head>
<body>

  <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="top-bar">

    <div class="top-bar-title">
      <h1>
        <a href="/">
          <img src="/images/bizcardmaker-logo.png" alt="Business Card Maker Logo">

          Business Card Maker
        </a>
      </h1>
    </div>

    <div class="top-bar-left">
      {{#if title}}
        {{#if page.posted }}
          <h2>
            Blog
          </h2>
        {{ else }}
          <a href="/" class="button radius secondary left btn-start js-guide-btn">
            Get started
          </a>
        {{/if}}
      {{/if}}
    </div>

    <div class="top-bar-right show-for-medium">
      <ul class="menu">
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/faq.html">FAQ</a>
        </li>
        <li>
          <a href="/blog">
            Blog
          </a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
        {{#is title ''}}
          <li>
            <a class="btn-nav-help btn-nav-icon">
              <i class="fa fa-question-circle"></i>
            </a>
          </li>
        {{/is}}
        <li>
          <a href="https://twitter.com/bizcardmakercom" target="_blank" class="btn-nav-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  {{> body }}

  {{> help }}

  <!-- build:js(app) /scripts/plugins.js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-meditor/dist/meditor.js"></script>

  <script src="/bower_components/html2canvas/dist/html2canvas.js"></script>
  <script src="/bower_components/jspdf/dist/jspdf.debug.js"></script>

  <script src="/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>

  <script src="/bower_components/jquery.payment/lib/jquery.payment.js"></script>

  <script src="/bower_components/foundation-sites/dist/plugins/foundation.core.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.util.keyboard.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.util.box.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.util.triggers.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.util.mediaQuery.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.util.motion.js"></script>

  <script src="/bower_components/foundation-sites/dist/plugins/foundation.tooltip.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.dropdown.js"></script>
  <script src="/bower_components/foundation-sites/dist/plugins/foundation.reveal.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) /scripts/app.js -->
  <script src="/scripts/util.js"></script>
  <script src="/scripts/env.js"></script>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/help.js"></script>
  <script src="/scripts/safari.js"></script>
  <script src="/scripts/logaster.js"></script>
  <script src="/scripts/affiliates.js"></script>
  <script src="/scripts/newsletter.js"></script>
  <script src="/scripts/logger.js"></script>
  <script src="/scripts/themes.js"></script>
  <script src="/scripts/pdf.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/directives/fileread.js"></script>
  <script src="/scripts/directives/payment.js"></script>
  <script src="/scripts/directives/drag.js"></script>
  <script src="/scripts/controllers/main.js"></script>
  <script src="/scripts/controllers/order.js"></script>
  <script src="/scripts/services/data.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) /scripts/website.js -->
  <script src="/scripts/website.js"></script>
  <!-- endbuild -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44456311-1', 'www.bizcardmaker.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  </script>

  <!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'ohFk3Vv0C5';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro|Exo|Oswald|Cardo|Vollkorn|Old+Standard+TT" rel="stylesheet" type="text/css">

</body>
</html>
