---
layout: page.html
---

<article class="row">

  <div class="large-12 columns">

    <!--
    // if this is the latest article then show the latest-post subtitle
    // and the other posts links at the bottom, or in the right sidebar
    -->



    basename: {{ basename }}

    <br><br>

    first: {{ pages.[0].basename }}

    <br><br>

      {{#if pages.[0].basename }}

      <h2>
        Latest post
      </h2>

      {{/if}}

    <h1>
      {{ page.title }}
    </h1>

    {{>body}}



    <h2>
      Other posts
    </h2>

    <ul>

      {{#withSort posted 'data.posted'}}
        {{#each pages }}

        <li>
          <a href="/blog/{{ basename }}.html">
            {{ data.title }}
          </a>
        </li>

        {{/each}}
      {{/withSort}}

    </ul>

  </div>

</article>
