/* affiliate modal
 */

.modal-affiliate {
  padding: 0;
  width: 420px;
  max-width: 100%;
  min-height: auto;
}

.modal-affiliate img {
  width: 100%;
}

.modal-affiliate .close-reveal-modal {
  top: 0.04em;
  right: 0.2em;
}
