/* logaster modal
 */

.modal-logaster {
  width: emCalc(1000);
  max-width: 100%;
}

$logasterBg: #27ae60;

button.btn-logaster {
  margin-bottom: .4em;
  padding: .6em 1em;
  border-radius: 3px;
  background: $logasterBg;
  box-shadow: inset 0 -2px 0 darken($logasterBg, 8%);

  font-size: emCalc(20);
  text-align: left;
}

button.btn-logaster:hover {
  background: lighten($logasterBg, 8%);
}

.btn-logaster small {
  display: block;
}

.logaster-powered {
  font-size: emCalc(12);
}

.logaster-powered img {
  margin-left: emCalc(4);
  width: emCalc(160);
}

/* version2
 */

.card-logaster {
  border-radius: 3px;
  font-size: .8em;
}

.card-logaster h2 {
  color: #208d4e;
}

.card-logaster label {
  padding-bottom: .2em;
}

.card-logaster .btn-logaster {
  width: 40%;
  border-radius: 0 3px 3px 0;

  font-size: 1em;
  margin: 0;
}

.card-logaster-form {
  display: flex;
  width: 100%;
  margin: 0 -0.6em 1em;
}

.card-logaster-form input {
  width: 60%;
  margin: 0;
  padding: .4em;
  border-width: 2px;
  border-radius: 3px 0 0 3px;
  border-right-width: 0;
}

.card-logaster-form input:focus {
  border: 2px solid #208d4e;
  border-right-width: 0;
  box-shadow: none;
}
