/* Order modal
 */

.loading-indicator {
  display: block;
  margin: 0 emCalc(8) 0 0;

  color: $grey;
  font-size: emCalc(20);
  text-align: center;
}

.reveal.modal-order {
  overflow: hidden;
  width: 100%;
  max-width: emCalc(748);
  padding: emCalc(32);

  h2 {
    margin-bottom: emCalc(12);
  }

  h4 {
    margin: emCalc(20) 0 emCalc(12) 0;

    color: darken($grey, 40%);
    font-weight: bold;
    font-size: emCalc(12);
    text-transform: uppercase;
  }

  .separator-order {
    border-top: 1px solid $color1;

    color: $color1;
    font-size: emCalc(14);

    span {
      position: relative;
      top: emCalc(-12);
      padding-right: emCalc(12);
      background-color: #fff;
    }
  }

  form small {
    display: block;
    margin: 0 0 emCalc(20) 0;

    line-height: 1.4em;
  }

  .error small:not(.error) {
    margin-top: emCalc(12);
  }

  .error label {
    color: #4d4d4d;
  }

  .cvc-help {
    overflow: hidden;

    img {
      float: right;
      margin-left: emCalc(12);
    }
  }

  .privacy-agree {
    font-size: emCalc(12);
    color: darken($grey, 30%);
  }

  .button-send {
    margin-bottom: emCalc(20);
  }

  .printchomp-text {
    display: inline-block;
    margin: 0 0 0 emCalc(20);

    color: #479CAB;
    font-size: emCalc(14);

    a {
      display: inline-block;
      width: 100px;
      height: 33px;
      margin-left: emCalc(8);
      overflow: hidden;
      background: url(../images/printchomp-logo.png);

      text-indent: -100%;
      vertical-align: middle;
    }
  }

}

.modal-order .callout,
.modal-order .payment-block {
  padding: emCalc(8) emCalc(48);
  margin: 0 emCalc(-48);

  font-size: 1em;
}

.modal-order .callout p {
  margin: 0;
}

.modal-order .payment-block {
  position: relative;
  background: lighten($grey, 4%);
  border-radius: 2px;

  h4 {
    margin: 0 0 emCalc(24) 0;

    font-size: emCalc(14);
    color: $color1;

    small {
      margin: 0;
      font-size: emCalc(12);

      text-transform: none;
    }
  }

  .ssl-seal {
    position: absolute;
    top: emCalc(8);
    right: emCalc(16);

    width: emCalc(52);
  }

  .icon-lock {
    position: absolute;
    left: emCalc(8);
    top: emCalc(8);

    font-size: emCalc(28);
    color: #FDAB01;
  }

  .card-icons {
    overflow: hidden;
  }

  .card-icon {
    float: left;
    width: 32px;
    height: 20px;
    background-repeat: no-repeat;
  }
}

.joyride-modal-bg {
  background: #000;
  opacity: .5;
}

.joyride-content-wrapper p a {
  color: lighten(saturate($color1, 60%), 40%);
}

.offers-list {
  @include clearfix;

  margin: 0 0 emCalc(20);
  list-style-type: none;

  li {
    float: left;
    width: 25%;
  }

  label {
    position: relative;
    display: block;
    padding: emCalc(12);
    margin: 0 0 2% 0;
    border: 1px solid transparent;
    border-radius: 3px;

    text-align: center;

    @include transition-property(transform);
    @include transition-duration(0.08s);
    @include transition-timing-function(ease-in);

    input {
      display: none;
    }

    h3 {
      margin: 0 0 emCalc(8);

      color: $color1;
      font-size: emCalc(20);
      line-height: 1.2em;
    }

    .description {
      overflow: hidden;
      margin: 0 0 emCalc(20);

      font-size: emCalc(12);
      line-height: 1.4em;
    }

    .icon {
      display: block;
      margin: 0 auto emCalc(8);
      width: emCalc(40);
      min-height: emCalc(40);
      min-width: emCalc(40);
    }

    .price {
      margin: 0;

      font-size: emCalc(14);
      font-weight: bold;
    }

    .details {
      margin: 0 0 emCalc(12);

      font-size: emCalc(12);
      font-style: italic;
    }

    .btn-choose-offer {
      padding: emCalc(4) emCalc(12);
      margin: 0;
    }
  }

  .active {
    background-color: desaturate(lighten($color1, 8%), 20%);

    color: $white;

    @include transform(scale(1.08));

    h3 {
      color: $white;
    }

    .btn-choose-offer {
      display: none;
    }

    &:after {
      content: '\f00c';
      display: block;
      opacity: .4;

      font-family: 'FontAwesome';
      text-align: center;
    }

  }

}

.button-send[disabled],
.button-send[disabled]:hover {
  background: #ddd;


  color: #444;
}

/* Shipping rates
 */

.shipping-rates {
  display: none;
  padding: 0 0 emCalc(20);

  .loading-indicator {
    display: none;
  }

  &.shipping-loading {
    .loading-indicator {
      display: block;
    }

    ul {
      display: none;
    }
  }

}

.shipping-rate-suggestion,
.shipping-rate-error {
  display: none;
}

.shipping-rates--visible,
.shipping-rates--error .shipping-rate-error,
.shipping-rates--suggestions .shipping-rate-suggestion {
  display: block;
}

.callout.shipping-rate-suggestion {
  background-color: #f1c40f;

  color: #333;
  text-align: left;
}

.shipping-rate-suggestion h2 {
  font-size: emCalc(24);
}

.shipping-rate-suggestion p {
  margin: 0 0 emCalc(8) !important;

  font-size: emCalc(16);
}

.shipping-list {
  @include clearfix;

  margin: 0;
  list-style-type: none;

  li {
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
  }

  label {
    position: relative;
    display: block;
    padding: emCalc(12) 0 emCalc(12) emCalc(32);
    margin: 0 0 2% 0;
    border-radius: 3px;
    background-color: $grey;

    text-align: left;

    input {
      display: none;
    }

    h3,
    p {
      display: inline-block;
      overflow: hidden;

      vertical-align: bottom;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h3 {
      width: emCalc(40);
      margin: 0 emCalc(12) 0 0;

      color: $color1;
      font-size: emCalc(20);
      line-height: 1.2em;
    }

    .description {
      width: emCalc(180);
      overflow: hidden;
      margin: 0 emCalc(12) 0 0;

      font-size: emCalc(12);
    }

    .price {
      margin: 0;

      font-size: emCalc(14);
      font-weight: bold;
    }

    .details {
      margin: 0 0 emCalc(12);

      font-size: emCalc(12);
      font-style: italic;
    }

    .btn-choose-offer {
      padding: emCalc(4) emCalc(12);
      margin: 0;
    }
  }

  .active {
    background-color: desaturate(lighten($color1, 8%), 20%);

    color: $white;

    h3 {
      color: $white;
    }

    .btn-choose-offer {
      display: none;
    }

    &:after {
      content: '\f00c';
      display: block;
      position: absolute;
      top: emCalc(12);
      left: emCalc(8);
      opacity: .4;

      font-family: 'FontAwesome';
      text-align: center;
    }

  }

}

/* Summary
 */

.order-summary {

  table {
    width: 100%;
    border: 1px solid $color1;

    thead,
    tfoot {
      background: none;
    }

    thead th {
      color: darken($grey, 40%);
    }

    td:last-child {
      width: emCalc(120);

      text-align: right;
    }
  }
}

.final-preview {
  padding-bottom: emCalc(40);

  strong {
    display: block;
    margin-bottom: emCalc(12);

    font-size: emCalc(12);
  }

  label {
    position: relative;
    margin: 0 0 emCalc(12);

    line-height: 1.2em;

    input {
      position: absolute;
      top: 0; left: 0;
      margin: 0;
    }

    span {
      display: block;
      padding-left: emCalc(28);
    }
  }

  .button-preview {
    img {
      display: block;
      margin-bottom: emCalc(8);
      border: 1px solid #efefef;
    }
  }
}

.order-loading,
.order-success {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  padding-top: emCalc(300);

  text-align: center;

  h2 {
    font-size: emCalc(32);
  }
}

.order-success {
  z-index: 99;
}

.order-loading {
  background-color: rgba($white, .9);
}

.order-success {
  background-color: rgba(#1d9d74, .95);

  h2,
  p {
    color: #fff;
  }
}



/* Form Validation
*/

/* Need !important because of Foundation :focus styles
*/
body input.cc-number {
  padding-left: 20px;

  background-repeat: no-repeat !important;
  background-position: -12px center !important;
}

.visa {
  background-image: url(/images/visa.png) !important;
}

.amex {
  background-image: url(/images/amex.png) !important;
}

.mastercard {
  background-image: url(/images/mastercard.png) !important;
}

.discover {
  background-image: url(/images/discover.png) !important;
}

input.ng-invalid {
  border: 1px solid #c0392b !important;
}

/* Manual upload button
 */

.manual-upload {
  display: none;
}

/* make the app layout fixed while the modal is shown
 */
.modal-opened > .top-bar,
.modal-opened > .card-maker {
  position: fixed;
  width: 100%;
}
