/* holiday popover
 */

.popover {
  position: absolute;
  width: 120%;
  margin-top: -2.4em;
  background: #f3f3f3;
  border-radius: 3px;
  padding: 1em;

  font-size: 60%;
  font-weight: bold;
}

.popover:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 16px;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #f3f3f3;
}

.popover a {
  display: block;
  padding-left: 100px;
  background-image: url(../images/psprint-logo.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: left center;
}

/* laborday promo
 */

.js-laborday-promo {
  display: none;
}


