/* printglobe ab test
 */

li.order-btn-printglobe {
  display: none;
}

.test-printglobe .order-btn-printchomp {
  display: none;
}

.test-printglobe .order-btn-printglobe {
  display: block;
}

.test-printglobe .order-btn .button {
  padding-left: 16px;
  padding-right: 4px;
}

.test-printglobe .partner-text {
  margin-left: 48px;

  color: #008191;
}

.test-printglobe .partner-text a {
  width: 140px;
  height: 43px;
  background-image: url(../images/printglobe-logo.gif);
}
