/* Right sidebar
 */

.sidebar-right {
  float: right;
  width: emCalc(300);
  margin-right: emCalc(20);
}

/* safari warning
 */

.warning-safari {
  display: none;
}

.warning-safari-show {
  display: block;
}
