/* Themes
*/

/* Custom gradient for html2canvas support
*/
@mixin custom-gradient($pos, $gradients...) {
  $prefixes: webkit, moz, ms, o;
  @each $prefix in $prefixes {
    background-image: -#{$prefix}-linear-gradient($pos, $gradients);
  }
}

/* General styles for Dark/Light themes
*/
$white: #fff;
$black: #333;

@mixin theme($type) {

  @if $type == dark {
    $color: $white;
  }
  @else if $type == light {
    $color: $black;
  }

  color: $color;

  a,
  .card-picture label,
  .card-picture:hover label {
    color: $color;
  }

  .person,
  .details,
  .email,
  .url {
    position: absolute;

    width: emCalc(160);
  }

  .details {
    top: 36%;
  }

  .email {
    top: 70%;
  }

  .url {
    top: 80%;
  }

  .card-item:hover {
    background-color: rgba($color, .1);
  }
}

/* simple-black
*/
.simple-black,
.simple-black-thumb .theme-preview {
  background-color: #222;
}

.simple-black {
  @include theme(dark);
}

/* simple-blue
*/
.simple-blue,
.simple-blue-thumb .theme-preview {
  background-color: #3498db;
}

.simple-blue {
  @include theme(dark);
}

/* simple-white
*/
.simple-white,
.simple-white-thumb .theme-preview {
  background-color: #fff;
}

.simple-white {
  @include theme(light);
}

/* simple-red
*/
.simple-red,
.simple-red-thumb .theme-preview {
  background-color: #c0392b;
}

.simple-red {
  @include theme(dark);
}

/* simple-dark-blue
*/
.simple-dark-blue,
.simple-dark-blue-thumb .theme-preview {
  background-color: #2c3e50;
}

.simple-dark-blue {
  @include theme(dark);
}

/* turquoise
*/
.simple-turquoise,
.simple-turquoise-thumb .theme-preview {
  background-color: #1ABC9C;
}

.simple-turquoise {
  @include theme(dark);
}

/* black-corners
*/
.black-corners,
.black-corners-thumb .theme-preview {
  background-color: #000;
}

.black-corners-thumb {

  .theme-preview:before,
  .theme-preview:after {
    content: '';
    display: block;
    width: emCalc(30);
    height: emCalc(4);
    position: absolute;
    top: emCalc(15);
    right: emCalc(15);
    background-color: lighten(#000, 20%);
  }

  .theme-preview:before {
    left: emCalc(15);
    bottom: emCalc(15);
    top: auto;
    right: auto;
  }

}


.black-corners .card-content {
  @include theme(dark);

  .card-picture {
    width: 36%;
    left: 2%;
    top: auto;
    bottom: 4%;
  }

  .person,
  .details,
  .email,
  .url {
    left: auto;
    right: 2%;
    top: 4%;

    font-size: emCalc(20);
    font-weight: bold;
    text-align: right;
    letter-spacing: emCalc(-0.5);
  }

  .details p,
  .person p {
    line-height: 1em;
  }

  .details {
    top: 40%;
  }

  .email {
    top: 66%;
  }

  .url {
    top: 76%;
  }

}

/* black-white
*/
.black-white,
.black-white-thumb .theme-preview {
  @include background-image(
    linear-gradient(
      left,
      #000 0%,
      #000 50%,
      $white 50%,
      $white 100%
    )
  );

  /* Funky notation for html2canvas - until it implements w3c gradients
  */
  @include custom-gradient(
    left,
    #000 0%,
    #000 50%,
    $white 50%,
    $white 100%
  );
}

.black-white .card-content {
  @include theme(dark);

  .card-picture {
    left: 8%;
    top: 8%;
    width: 36%;
  }

  .person,
  .details,
  .email,
  .url {
    left: 55%;
    top: 20%;

    color: #000;

    a {
      color: #000;
    }

    p {
      line-height: 1.2em;
    }
  }

  .details {
    top: 48%;
  }

  .email {
    top: 74%;
  }

  .url {
    top: 82%;
  }

  .card-item:hover {
    background-color: rgba($black, .1);
  }
}

/* diagonals
*/
.diagonals,
.diagonals-thumb .theme-preview {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVAQMAAACT2TfVAAAABlBMVEUAAAD///+l2Z/dAAAANklEQVQIWx3DwQkAIAwEweMaN6VZSkrIMw8xLg6M17RDbf3F5LYmKOvysFlMbnmCki8Pm8WUHhEDFuFJix/eAAAAAElFTkSuQmCC');
}

.diagonals .card-content {
  @include theme(light);

  .card-picture {
    background-color: $white;

    opacity: 1 !important;
  }

  .card-item {
    left: 55%;
    padding: emCalc(4);
    background-color: $white;

    color: #000;

    &:hover {
      background-color: darken($white, 10%);
    }

    a {
      color: #000;
    }

    p {
      line-height: 1.2em;
    }
  }

}

/* black-border
*/
.black-border-thumb .theme-preview {
  position: relative;
  background-color: #fff;
  padding: 0 !important;
}

.black-border-thumb .theme-preview:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: emCalc(12) solid #000;
  background: transparent;
}

.black-border {
  @include theme(light);

  background-color: #000;

  &.card-big .no-picture {
    display: block !important;
    opacity: 0;
  }

  .card-content {
    background-color: #fff;

    text-align: center;

    .card-picture {
      position: relative;
      z-index: 2;
      top: 8%;
      left: auto;
      margin: 0 auto;
      min-height: emCalc(80);
    }

    .person,
    .details,
    .email,
    .url {
      display: block;
      padding: 4%;

      text-align: center;
      color: #000;

      p {
        line-height: 1em;
      }

    }

    .person {
      position: relative;
      top: 16%;
      left: 0;
      display: block;
      width: 92%;
      margin: 0 auto;
      background-color: #fff;

      font-size: emCalc(20);
    }

    .title {
      font-size: .8em;
    }

    .details {
      display: none;
      clear: both;
    }

    .email,
    .url {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-top: 10%;
      margin-right: emCalc(-6);
      background-color: #000;

      font-size: emCalc(12);
      color: #fff;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }

    .card-item {
      padding: emCalc(2) emCalc(8);
    }

  }

}

/* line-one
*/
@mixin line-one($color) {
  $white: #fff;
  $color2: lighten(saturate($color, 95%), 30%);

  color: $white;
  background-color: $color;

  @include theme(dark);

  .theme-preview {
    background-color: $color;

    &:after {
      content: '';
      display: block;
      width: 60%;
      position: absolute;
      top: 50%;
      left: 20%;
      margin: 0 auto;
      border-bottom: 1px solid $color2;
    }
  }

  .card-content {

    .card-picture {
      width: emCalc(150);
      height: emCalc(50);
      top: 4%;
      left: 4%;

      .no-picture {
        padding: emCalc(8) 0;

        text-align: left;
      }

      i, span {
        font-size: emCalc(12);
      }
    }

    .person,
    .details,
    .email,
    .url {
      color: #000;
      vertical-align: baseline;

      @include clearfix;
    }

    .person {
      left: 4%;
      top: 44%;
      display: block;
      width: 92%;

      padding-bottom: emCalc(12);
      border-bottom: 1px solid $color2;

      color: $white;

      .fn {
        letter-spacing: emCalc(1);
        font-weight: normal;
      }

      .title {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;

        text-align: right;
      }
    }

    div.details {
      display: none;
    }

    .email,
    .url {
      top: 60%;
      width: 46%;

      color: lighten($color, 50%);
      font-size: emCalc(10);
    }

    .email {
      left: 4%;
      border-right: 1px solid $color2;
    }

    .url {
      left: auto;
      right: 4%;
      text-align: right;
    }

    p {
      line-height: .9em;
    }

    .card-item {
      position: absolute;
      display: block;
    }
  }

}

.line-one,
.line-one-thumb {
  @include line-one(#2C3E50);
}


/* asphalt-half
*/
.asphalt-half,
.asphalt-half-thumb .theme-preview {
  @include background-image(
    linear-gradient(
      left,
      #34495E 0%,
      #34495E 58%,
      #3498DB 58%,
      #3498DB 100%
    )
  );

  /* Funky notation for html2canvas - until it implements w3c gradients
  */
  @include custom-gradient(
    left,
    #34495E 0%,
    #34495E 58%,
    #3498DB 58%,
    #3498DB 100%
  );
}

.asphalt-half .card-content {
  @include theme(dark);

  .card-picture {
    width: emCalc(200);
    height: emCalc(120);
    top: auto;
    left: 4%;
    bottom: 4%;

    font-size: emCalc(12);
  }

  .person {
    left: 4%;
    top: 12%;

    color: #fff;

    .fn {
      font-size: emCalc(18);
    }

    .title {
      display: inline-block;
      border-bottom: 3px solid #fff;
    }
  }

  .details,
  .email,
  .url {
    top: 12%;
    left: 64%;

    color: darken(#3498DB, 37%);
    font-size: emCalc(14);
  }

  .email {
    top: 56%;
  }

  .url {
    top: 68%;
  }

  a {
    color: #000;
  }

  p {
    line-height: 1.2em;
  }

  .card-item {
    position: absolute;
    display: block;
  }

  .card-item:hover {
    background-color: rgba($black, .1);
  }

}
