/* Card maker
 */

/* Bourbon
 */
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";

/* Globals
 */
$color1: #2854a1;
$color2: lighten(saturate($color1, 40%), 20%);
$white: #fff;

/* Utils
 */
@import "utils";

/* Themes
 */
@import "themes";

/* Main
 */

.card-maker {
	*,
	*:after,
	*:before {
		@include box-sizing(border-box);
	}
}

/* Themes
 */
.themes-box {
	padding-bottom: 0;
	background-color: darken($white, 10%);
}

.themes-row {
	overflow: auto;
	padding: emCalc(10);
	margin: 0;
	white-space: nowrap;

	.theme-item {
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: emCalc(141);
		height: emCalc(75);
		padding: emCalc(8);
		margin-right: emCalc(4);
		border-radius: 3px;
		background-color: $white;

		.theme-preview-container {
			overflow: hidden;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 1px;

			@include linear-gradient(50deg, #888, #000);
		}

		.theme-preview {
			display: block;
			width: 100%;
			height: 100%;

			opacity: .7;
		}

		&.active {
			background-color: $color2;
			box-shadow: inset 0 -2px 0 darken($color1, 10%);

			.theme-preview {
				opacity: .9;
			}
		}

		&:hover {

			.theme-preview {
				opacity: .95;
			}

		}
	}

}

/* Editor
 */
.card-edit-container {

}

$card-border: 1px solid darken($white, 10%);

// 3.75 x 2.25 in - full bleed at 96ppi
.card-container {
	position: relative;
	margin-bottom: emCalc(20);

	width: emCalc(360);
	height: emCalc(216);

	border: $card-border;
	box-shadow: 0 2px 1px darken($white, 5%);

	font-size: 1.75em;
}

// padding 0.25 in for bleed
.card-preview {
	position: relative;
	width: 100%;
	height: 100%;
	padding: emCalc(24);

	@include transition(background 0.1s ease-in);
	@include clearfix;

	font-size: .75em;

	* {
		font-size: 1em;
	}
}

.card-content {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

/* Enlarged card for high-quality generation
 */
.card-container.card-big {
	position: relative;
	z-index: 999;
	border-width: 0;

	font-size: 3.5em;

	.no-picture {
		display: none;
	}
}

.card-print .card-preview {
	border: $card-border;
}

/* iOS data uri limitation fix
 * Print low-quality
 */
/*.card-edit-container.card-big.card-print.ios {
	font-size: .8em;
}*/

/* Picture upload
 */
.file-upload {
	position: absolute;
    left: -9999px;
}

.card-picture {
	position: absolute;
	top: emCalc(30);
	left: emCalc(30);

	width: emCalc(180);
	color: $color1;

	vertical-align: top;
	text-align: center;

	i {
		font-size: 3em;
	}

	i,
	span {
		display: none;
	}

	img {
		display: block;
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}

	label {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;

		&:hover {
			background-color: rgba($color1, .1);
		}
	}

	.no-picture {
		padding: emCalc(20);
		opacity: .8;

		i,
		span {
			display: block;
		}

		img {
			display: none;
		}

	}

	&:hover {
		.drag-handle {
			border-color: $color1;
		}
	}
}

/* Vcard defaults
 */
.vcard {
	position: absolute;
	top: emCalc(30);
	left: emCalc(250);
	border: 0;
	padding: 0;
	margin: 0;

	vertical-align: top;

	.person {
		margin-bottom: emCalc(16);
	}

	.fn {
		font-size: 1em;
	}

	.org {
		font-weight: bold;
	}

	p {
		margin: 0;
	}

	*,
	a {
		cursor: text;
	}

	a:hover {
		text-decoration: none;
	}

	li,
	li p {
		position: relative;
	}

	li:hover {
		background-color: rgba($color1, .3);

		.drag-handle {
			border-color: $color1;
		}
	}
}

.drag-handle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: .5;

	@include box-sizing(content-box);
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: -10px;
	border: 5px dotted transparent;

	cursor: move;

	@include transition(all .1s ease-in-out);
	@include transition-delay(0.5s);

	&:hover,
	.drag-handle-show {
		border-color: $color1;
		@include transition-delay(0s);
	}
}

.download-buttons {
	margin-bottom: emCalc(15);

	li {
		width: 100%;
	}

	.button {
		width: 100%;
		margin: 0;
		border: 0;

		font-size: 1.1em;
		text-align: left;
	}

	li:first-child .button {
		border-radius: 3px 3px 0 0;
	}

	li:last-child .button {
		border-radius: 0 0 3px 3px;
	}

	i:before {
		width: emCalc(20);
	}

	.fa {
		width: emCalc(20);
	}

	small {
		display: block;
		padding-top: emCalc(4);
		padding-left: emCalc(44);

		color: rgba($white, 0.8);
	}

	@include breakpoint(baby-bear) {
		font-size: 1.25em;

		li {
			width: 50%;
		}

		li:first-child .button {
			border-radius: 3px 0 0 3px;
		}

		li:last-child .button {
			border-radius: 0 3px 3px 0;
		}
	}

}

.download-form {
	input {
		display: none;
	}
}

.download-note {
	padding: emCalc(5);
	border-color: darken($white, 10%);
	background-color: darken($white, 5%);

	font-size: 1em;

	p {
		margin: 0;

		font-size: emCalc(10);
		color: #333;
	}

	code {
		color: $color1;
	}
}
