/* bizcardmaker.com
 * Website
 */

/* Bourbon
 */
@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

/* Globals
 */
$color1: #2854a1;
$color2: lighten(saturate($color1, 40%), 20%);
$white: #fff;
$grey: #e6e6e6;

/* Foundation
 */
$primary-color: shade($color1, 5%);
$secondary-color: $color2;
$button-border-width: 0px;

$topbar-bg: $color1;
$topbar-height: 3.25rem;

$topbar-link-color: tint($color1, 70%);
$topbar-link-weight: bold;
$topbar-link-bg-hover: $primary-color;
$topbar-link-bg-active: darken($topbar-link-bg-hover, 10%);

$alert-border-width: 0;

@import '../bower_components/foundation/scss/foundation';


/* Utils
 */
@import 'utils';

/* App
 */
@import 'app';

/* Main
*/

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
.button {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: normal;
  font-size: emCalc(24);
  letter-spacing: emCalc(-0.1);
}

a {

  &:hover {
    text-decoration: underline;
  }
}

.button {
  box-shadow: inset 0 -2px 0 darken($color1, 10%);

  &:hover {
    background-color: lighten($color1, 5%);

    text-decoration: none;
  }

  &:active {
    background-color: darken($color1, 10%);

    box-shadow: inset 0 2px 1px darken($color1, 20%);
  }

  &.secondary {
    box-shadow: inset 0 -2px 0 darken($color2, 10%);

    &:hover {
      background-color: lighten($color2, 5%);
    }

    &:active {
      background-color: darken($color2, 10%);

      box-shadow: inset 0 2px 1px darken($color2, 20%);
    }
  }

  &.muted {
    background-color: $grey;
    box-shadow: inset 0 -2px 0 darken($grey, 10%);

    color: #444;

    * {
      color: #444 !important;
    }

    &:before {
      border-color: #444 transparent transparent transparent;
    }

    &:hover {
      background-color: lighten($grey, 5%);
    }

    &:active {
      background-color: darken($grey, 10%);

      box-shadow: inset 0 2px 1px darken($grey, 20%);
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0;

  color: #000;
}

/* Sections
 */
section {
  padding: emCalc(12) 0;
}

/* Content pages
 */

.page-content {
  max-width: emCalc(728);
  margin: 0 auto;
  padding: emCalc(28) 0;

  article {
    margin: 0 0 emCalc(28);
  }
}

article h1 {
  margin: 0 0 emCalc(24);

  color: desaturate($color1, 60%);
  font-size: emCalc(24);
  line-height: 1em;
  letter-spacing: emCalc(-0.5);
}

article h2 {
  margin: emCalc(28) 0 emCalc(8);
}

/* Top bar
 */
.top-bar {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid darken($color1, 12%);

  .title-area {
    overflow: hidden;
    height: 100%;
    width: 22%;
    margin-right: emCalc(20);

    a {
      background-color: darken($color1, 12%);

      &:hover {
        background-color: darken($color1, 8%);
      }
    }
  }

  section {
    padding: 0;
  }
}

.top-bar .name h1.brand {
  font-weight: 400;
  font-size: emCalc(20);
  letter-spacing: -1px;

  img {
    width: emCalc(20);
    opacity: .9;
    vertical-align: baseline;
  }

  a {
    width: 100%;
    padding: 0 emCalc(20);

    color: #fff;

    &:hover {
      text-decoration: none;

      img {
        opacity: 1;
      }
    }
  }

  p {
    display: inline;
    margin: 0;

    font-size: 1em;
  }
}

.btn-start {
  margin-top: emCalc(4);
}

.top-bar-section {
  overflow: hidden;
}

.top-bar-section ul li {
  margin: 0;
  background: transparent;

  &:not(.has-form) > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: emCalc(12);
  }
}

.top-bar-section h2 {
  float: left;
  margin: 0;

  color: lighten($color1, 48%);
  font-size: emCalc(20);
  line-height: 52px;
  vertical-align: middle;
}

.top-menu .fa-twitter {
  font-size: emCalc(36);
  line-height: 1em;

  vertical-align: middle;
}

/* Footer
 */
footer {
  padding: emCalc(28) 0 0;
  border-top: 1px solid #efefef;

  p {
    font-size: .8em;
  }

  .inline-list {
    margin-bottom: 0;
  }
}

/* Contact page
 */

.box-contact {
  display: block;
  width: 100%;

  font-size: emCalc(12);

  strong {
    display: block;
    margin: 0 0 emCalc(8);

    font-size: emCalc(24);
  }
}

/* Blog
 */

.list-posts {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 0 0 emCalc(80);
    margin: 0 0 emCalc(80);
    border-bottom: 1px solid #efefef;

    &:last-child {
      border: 0;
    }
  }

}

.post-title {
  margin: 0 0 emCalc(2);

  font-size: emCalc(32);
  font-weight: bold;
  text-align: center;
}

.post-meta {
  margin: 0 0 emCalc(28);
  
  color: #666;
  font-size: emCalc(18);
  text-align: center;
}

.post-picture {
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0 0 emCalc(12);
  border-radius: 5px;
}

.post-summary {
  margin: 0;
}

.post-others {
  padding: emCalc(32) 0 0;
  margin: emCalc(32) 0 0;
  border-top: 1px solid #efefef;

  h4 {
    font-size: emCalc(16);
    font-weight: bold;
  }

  ul {
    margin: 0 0 0 emCalc(20);
    list-style-type: square;

    color: #999;
  }

}

.post-subtitle {
  position: relative;

  img {
    @include breakpoint(papa-bear) {
      position: absolute;
      left: emCalc(-68);
      top: emCalc(-14);
    }
  }
}

/* Social buttons
 */

.social-buttons {
  display: table;
  margin: 0;
  list-style-type: none;

  li {
    display: table-cell;
    padding: 0 emCalc(12) 0 0;

    vertical-align: top;
  }

  .socialite {
    display: block;
    background-position: 0 0;

    font-size: 10px;
  }

}
