/* bizcardmaker.com
 * everything styles
 */

/* bourbon
 */
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

/* variables
 */
$color1: #2854a1;
$color2: lighten(saturate($color1, 40%), 20%);
$white: #fff;
$grey: #e6e6e6;

@import 'utils';
@import 'website';
@import 'app';
@import 'sidebar';
@import 'help';

@import 'affiliate-logo';
@import 'affiliate-print';
@import 'gorgiastemplates';
