<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Business Card Maker: Free, fast and easy business cards in seconds, using high quality professional designs</title>
	<meta name="description" content="Easily create your own business cards in seconds, for free, using high quality professional designs.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

	<!-- build:css({.tmp,app}) /styles/website.css -->
	<link rel="stylesheet" href="/styles/main.css">
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) /styles/app.css -->
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="stylesheet" href="/bower_components/angular-meditor/dist/styles/meditor.css">
	<!-- endbuild -->
</head>
<body>

	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header>

		<div class="row">
			<div class="medium-8 columns">

				<h1 class="brand">
					<a href="/index.html">
						<img src="/images/bizcardmaker-logo.png" alt="Business Card Maker Logo">
						Business Card Maker
					</a>
				</h1>

				<div class="row">
					<div class="medium-8 columns">

						<p class="tagline">Easily create business cards in seconds, <strong>for free</strong>, using high quality professional designs. </p>

					</div>
					<div class="medium-4 columns">
						<a href="/index.html" class="button expand radius secondary js-guide-btn">
							Get started
						</a>
					</div>
				</div>

			</div>
			<div class="medium-4 columns">
				<ul class="inline-list top-menu right show-for-medium-up">
					<li>
						<a href="/about.html">About</a>
					</li>
					<li>
						<a href="/faq.html">FAQ</a>
					</li>
					<li>
						<a href="/news.html">News</a>
					</li>
				</ul>
			</div>
		</div>

	</header>

	{{> body }}

	<footer class="row">

		<div class="large-7 columns">

			<ul class="inline-list">
				<li>
					<a href="/index.html">Home</a>
				</li>
				<li>
					<a href="/about.html">About</a>
				</li>
				<li>
					<a href="/faq.html">FAQ</a>
				</li>
				<li>
					<a href="/news.html">News</a>
				</li>
			</ul>

			<p>
				<a href="http://bizcardmaker.com" class="copy">Business Card Maker</a> is a project by <a href="http://ghinda.net">Ionuț Colceriu</a>.
				Font families from <a href="https://www.google.com/fonts/">Google Fonts</a>.
			</p>

		</div>

		<div class="large-5 columns">

			<p class="text-right chrome-app">

				<a href="https://chrome.google.com/webstore/detail/business-card-maker/dpchnngplfnmejdkfgpmfhifccngoiih" title="Get the Chrome app, for easier access.">
					<img src="images/chrome-app.png" alt="Available in the Chrome Web Store">
				</a>

			</p>

		</div>

	</footer>

	<script>
		// Include the UserVoice JavaScript SDK (only needed once on a page)
		UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/0TaFw9YxP0BwgMYOQ860KA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

		// Set colors
		UserVoice.push(['set', {
			accent_color: '#6aba2e',
			trigger_color: 'white',
			trigger_background_color: '#6aba2e'
		}]);

		// Add default trigger to the bottom-right corner of the window:
		UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
		UserVoice.push(['autoprompt', {}]);
	</script>

	<!-- build:js(app) /scripts/plugins.js -->
	<script src="/bower_components/jquery/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-touch/angular-touch.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/angular-meditor/dist/scripts/meditor.js"></script>
	<script src="/bower_components/foundation/js/foundation/foundation.js"></script>
	<script src="/bower_components/foundation/js/foundation/foundation.joyride.js"></script>
	<script src="/bower_components/html2canvas/build/html2canvas.js"></script>
	<script src="/bower_components/jspdf/dist/jspdf.source.js"></script>
	<script src="/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
	<script src="/bower_components/analytics/analytics.js"></script>
	<!-- endbuild -->

	<script>
		/* analytics.js setup
		 */
		analytics.initialize({
			'Google Analytics': {
				trackingId: 'UA-44456311-1'
			}
		});
	</script>

	<!-- build:js({.tmp,app}) /scripts/app.js -->
	<script src="/scripts/app.js"></script>
	<script src="/scripts/directives/fileread.js"></script>
	<script src="/scripts/controllers/main.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) /scripts/website.js -->
	<script src="/scripts/website.js"></script>
	<!-- endbuild -->

</body>
</html>
