---
title: Tricks and Treats! October news
layout: post.html
posted: 2014-10-29
picture: /images/blog/post-picture-october.png
---

Here is a short update from bizcardmaker.com with what has been happening in the last month, along with some extra resources and tips to help you design great business cards. As always, feedback is welcome!

<h2 class="post-subtitle">
  <img src="/images/blog/icon-new-themes.png">

  New themes
</h2>

We got two new themes rolled out this month. One of them with a minimal aspect and a thin colored line at the top, and the other with some beautiful autumn imagery.

Of course, both offer many color and layout variations.

<div class="row small-up-2">
  <div class="column">
    <a href="/#/?theme=theme-autumn--half-black" target="_blank">
      <img src="/images/blog/theme-new-autumn.png" class="thumbnail">
    </a>
  </div>
  <div class="column">
    <a href="/#/?theme=theme-topline--turquoise" target="_blank">
      <img src="/images/blog/theme-new-line.png" class="thumbnail">
    </a>
  </div>
</ul>

*The Autumn theme is available only for a limited time, so make sure to order or download yours now!*

**Quick tip!**

> If you’re having issues downloading the business cards, or the business cards are looking blank or distorted in the Order form, please try using the <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> browser.


<h2 class="post-subtitle">
  <img src="/images/blog/icon-chat.png">

  Chat with us
</h2>

You can now talk to us directly, in real-time, straight from the website, while you work on your business card. Just click the spooky box with the pumpkin on the bottom right of the page, to send us a message.

<h2 class="post-subtitle">
  <img src="/images/blog/icon-cdn.png">

  Better performance
</h2>

At the beginning of the month we’ve transitioned bizcardmaker.com to the awesome Cloudflare CDN. This means way shorter load times and better performance for you. We’re also using full strict SSL, so you’re also covered on the security aspect.


<h2>
  Extra resources
</h2>

* Don’t have a logo for your business yet? You can use <a href="https://www.logoshi.com/" target="_blank">logoshi.com</a> to quickly sketch a cool logo and get the lower resolution version for free!
* Or, you can use a nice high quality icon. <a href="http://www.flaticon.com/" target="_blank">Here’s a searchable directory of over 59,000 free vector icons.</a>
* And our special Halloween bonus, <a href="http://www.pinterest.com/marianneguymon/jack-o-lantern-ideas/" target="_blank">no less than 141 Jack O' Lantern Ideas.</a>


Let us know what you think, on Twitter at [@bizcardmakercom](https://twitter.com/bizcardmakercom)!
