---
title: New features and updates for September
layout: post.html
posted: 2014-09-29
picture: /images/blog/post-picture-september.png
---

We’ve been really busy at work in the last couple of months. We got new themes, an improved layout, a couple of new features you’re probably already using, and some great news.

<h2 class="post-subtitle">
  <img src="/images/blog/icon-new-themes.png">

  New themes
</h2>

To add more personality to your business cards, you can now choose from no less than 63 designs with different colors and layouts.

We also added some polish to our existing themes, making sure the positioning and spacing are just right for each element on the business card.

<h2 class="post-subtitle">
  <img src="/images/blog/icon-new-ui.png">

  Improved layout
</h2>

Along with the new designs, we launched some important improvements to the Business Card Maker interface. The different designs that you can choose from are now on the left side of the page, rather than at the top as they used to be, with larger, clearer previews.

Instead of a large banner at the top, we now have a small bar containing the navigation and everything else you need to quickly get around the website.

All these changes mean that when you load up bizcardmaker.com, you get straight to creating your business card.

<h2 class="post-subtitle">
  <img src="/images/blog/icon-shipping.png">

  Shipping selection
</h2>

Not in a hurry? Get your business cards at a lower price by selecting a cheaper shipping option.

Our order process has improved, and one of the main new features is that you can now choose how you want to have your business cards delivered.

When ordering, depending on your location, you’ll get to select from cheaper to more expensive shipping options like UPS Ground or UPS Next Day Air.

<h2 class="post-subtitle">
  <img src="/images/blog/icon-lower-prices.png">

  Lower prices
</h2>

Since we have individual prices for shipping now, we were able to drop the prices yet again!

You can now get 250 business cards for only $9.99 + shipping!


Let us know what you think, on Twitter at [@bizcardmakercom](https://twitter.com/bizcardmakercom)!
