---
title: New themes and improvements in February
layout: post.html
posted: 2015-02-17
picture: /images/blog/post-picture-februrary.png
---

2015 is here! It’s been here for a while actually... but we took some time off after the holidays. Still, we’re back now, reenergized and with a bunch of new stuff.

February brings seven completely new themes and a few layout options for some of them.

We got two new high resolution background themes. One with a beautiful starry landscape for the astronauts, and the other with the hazy city lights for the night owls.

<div class="row small-up-2">
  <div class="column">
    <a href="/#/?theme=theme-picture--space-full" target="_blank">
      <img src="/images/blog/theme-new-space.jpg" class="thumbnail">
    </a>
  </div>
  <div class="column">
    <a href="/#/?theme=theme-picture--city-half-black" target="_blank">
      <img src="/images/blog/theme-new-city-lights.jpg" class="thumbnail">
    </a>
  </div>
</div>

We also have four new minimalist themes. These have background patterns perfectly suited for people working in restaurants or education. The background patters are from the nice folks at [Subtle Patterns](https://www.toptal.com/designers/subtlepatterns/).

We made some upgrades to the libraries used for the card generator, resulting in smoother text rendering and better support for Firefox.

For those of you who print their cards at home, here’s a quick tip on [printing an individual business card with a home printer](
http://www.wikihow.com/Print-on-Individual-Business-Cards).

Remember to download the business card as a picture, not as a PDF, for this technique. You can also skip directly to Step 4, since the file you download from us already includes a safe zone and bleed, meaning you can cut into the card about 0.25 inches.

To make sure you don’t miss out on the latest bizcardmaker.com updates, be sure to [follow us on Twitter](https://twitter.com/bizcardmakercom).

