---
title: Better PDF downloads
layout: post.html
posted: 2016-03-28
picture: /images/blog/post-picture-pdf-download.png
---

We've got some good news for everybody printing the business cards themselves. We improved the PDF download format to match the ones used by professional printers.

The new format includes a single business card on a page, compared to the old one that contained multiple cards. It also includes extra spacing and <a href="https://helpx.adobe.com/indesign/using/printers-marks-bleeds.html" target="_blank">crop marks</a> to make it much easier for you to cut up the cards to the perfect size (3.5" x 2").

All this means the PDF file is prepared for professional printing, and ready to take or upload to any printer.

If you haven’t tried it out already, here’s how the new PDF download looks like:

<img src="/images/blog/pdf-download-new.png">

## Printing multiple cards on a single page

If you’re printing at home and need to print multiple business cards on the same page, here’s a quick tutorial on <a href="https://helpx.adobe.com/acrobat/kb/print-multiple-pages-per-sheet.html" target="_blank">how to print multiple pages per sheet of paper using Acrobat or Reader</a>.

