<div id="modal-affiliate" class="reveal modal-affiliate" data-reveal>

  <h2>
    Want more for your business?
  </h2>

  <div class="row small-up-3">
    <div class="column item-affiliate">

      <a href="http://www.shareasale.com/r.cfm?b=400151&u=1215865&m=37723&urllink=&afftrack=" target="_blank">
        <img src="/images/promo-weebly.png">

        <span>
          <strong>
            Create a free website with Weebly
          </strong>
        </span>
      </a>

      <p>
        It's surprisingly easy to create your own website, blog or online store.
      </p>
      <p>
        Everything you need for a high quality website. Unlimited pages and hosting for free.
      </p>

    </div>
    <div class="column item-affiliate">

      <a href="http://www.shareasale.com/r.cfm?b=804898&u=1215865&m=62772&urllink=&afftrack=" target="_blank">
        <img src="/images/promo-dailysteals.png">

        <span>
          <strong>
            Great tech gear deals on Daily Steals
          </strong>
        </span>
      </a>

      <p>
        Daily Steals has a great variety of daily deals for tech gear.
      </p>
      <p>
        Get the best deals on cell phones, cell phone accessories, and many others.
      </p>

    </div>
    <div class="column item-affiliate">

      <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
        <img src="/images/promo-logaster.png">

        <span>
          <strong>
            Create a professional logo easily with Logaster
          </strong>
        </span>
      </a>

      <p>
        In just a few minutes, you get multiple variations of your logo.
      </p>

      <p>
        You can download the smaller-size logo for free and the full-size one from $9.99.
      </p>
    </div>
  </div>

  <div class="row medium-up-2 affiliate-footer">
    <div class="column">
        <input id="checkbox-affiliate-hide" class="js-checkbox-affiliate-hide" type="checkbox">
        <label for="checkbox-affiliate-hide">
          Don't show this dialog again
        </label>
    </div>

    <div class="column">
      <a href="#" class="js-close-modal" aria-label="Close">
        Close this dialog
      </a>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
