<div id="modal-affiliate" class="reveal-modal modal-affiliate" data-reveal>

  <h2>
    Want more for your business?
  </h2>

  <ul class="small-block-grid-3">
    <li class="item-affiliate">

      <a href="http://www.shareasale.com/r.cfm?B=400151&U=1215865&M=37723&urllink=">
        <img src="/images/promo-weebly.png">

        <span>
          <strong>
            Create a free website for your business with Weebly!
          </strong>
        </span>
      </a>

      <p>
        It's surprisingly easy to create your own website, blog or online store.
      </p>
      <p>
        Everything you need for a high quality website. Create unlimited pages and host your site for free.
      </p>

    </li>
    <li class="item-affiliate">

      <a href="http://www.shareasale.com/r.cfm?b=593723&u=1215865&m=52946&urllink=&afftrack=" target="_blank">
        <img src="/images/promo-freshbooks.jpg" alt="Online invoicing designed for small business owners - FreshBooks. Try it free.">

        <span>
          <strong>
            Accounting and invoicing from FreshBooks.
          </strong>
        </span>
      </a>

      <p>
        Track time, expenses and invoice your clients.
      </p>

      <p>
        Try it Free for 30 days, then use it with 1 client without having to upgrade.
      </p>

    </li>
    <li class="item-affiliate">

      <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
        <img src="/images/promo-logaster.png">

        <span>
          <strong>
            Create a professional logo easily with Logaster.
          </strong>
        </span>
      </a>

      <p>
        In just a few minutes, you get multiple variations of your logo.
      </p>

      <p>
        You can download the smaller-size logo for free and the full-size one from $9.99.
      </p>
    </li>
  </ul>

  <ul class="medium-block-grid-2 affiliate-footer">
    <li>
        <input id="checkbox-affiliate-hide" class="js-checkbox-affiliate-hide" type="checkbox">
        <label for="checkbox-affiliate-hide">
          Don't show this dialog again
        </label>
    </li>

    <li>
      <i class="fa fa-coffee"></i> Got everything you need?

      <a href="#" class="js-close-modal" aria-label="Close">
        Close this dialog
      </a>
    </li>
  </ul>

  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
