<div id="modal-affiliate" class="reveal-modal modal-affiliate" data-reveal>

  <h2>
    Want more for your business?
  </h2>

  <ul class="small-block-grid-3">
    <li class="item-affiliate">

      <a href="http://wixstats.com/?a=3102&c=124&s1=" target="_blank">
        <i class="fa fa-mouse-pointer icon-website icon-affiliate"></i>

        <span>
          <strong>
            Create a professional website for your business on WIX.com.
          </strong>
        </span>
      </a>

      <p>
        Easy to use with beautiful designs available on the Free plan.
      </p>
      <p>
        You can also sell products, add domains, secure hosting, online bookings, contact forms and more.
      </p>

    </li>
    <li class="item-affiliate">

      <a href="http://www.shareasale.com/r.cfm?b=593723&u=1215865&m=52946&urllink=&afftrack=" target="_blank">
        <i class="fa fa-bank icon-stationery icon-affiliate"></i>

        <span>
          <strong>
            Accounting and invoicing for non-accountants, from FreshBooks.
          </strong>
        </span>
      </a>

      <p>
        Track time, expenses and invoice your clients.
      </p>

      <p>
        Try it Free for 30 days, then use it with 1 client without having to upgrade.
      </p>

    </li>
    <li class="item-affiliate">

      <a href="https://www.logoshi.com/" target="_blank">
        <i class="fa fa-pencil icon-stationery icon-affiliate"></i>

        <span>
          <strong>
            Don't have a logo? Create one in minutes, on Logoshi.com
          </strong>
        </span>
      </a>

      <p>
        Logo design made easy, completly Free.
      </p>

      <p>

      </p>

    </li>
  </ul>

  <ul class="medium-block-grid-2 affiliate-footer">
    <li>
        <input id="checkbox-affiliate-hide" class="js-checkbox-affiliate-hide" type="checkbox">
        <label for="checkbox-affiliate-hide">
          Don't show this dialog again
        </label>
    </li>

    <li>
      <i class="fa fa-coffee"></i> Got everything you need?

      <a href="#" class="js-close-modal" aria-label="Close">
        Close this dialog
      </a>
    </li>
  </ul>

  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
