<footer class="row footer">

    <div class="large-9 columns">

      <ul class="menu simple">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/faq.html">FAQ</a>
        </li>
        <li>
          <a href="/privacy.html">Privacy</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
        <li>
          <a href="https://twitter.com/bizcardmakercom" target="_blank" class="follow-button">
            <i class="fa fa-twitter"></i> @bizcardmakercom
          </a>
        </li>
      </ul>

      <p>
        &copy; Copyright 2014 - {{moment format="YYYY"}} <a href="http://ghinda.net">Ionuț Colceriu</a>.
      </p>

    </div>

    <div class="large-3 columns">

      <p class="text-right chrome-app">

        <a href="https://chrome.google.com/webstore/detail/business-card-maker/dpchnngplfnmejdkfgpmfhifccngoiih" title="Get the Chrome app, for easier access." target="_blank">
          <img src="/images/chrome-app.png" alt="Available in the Chrome Web Store">
        </a>

      </p>

    </div>

  </footer>
