<div class="help">
  <h2 class="help-title">
    HELP
  </h2>

  <ul class="help-list">
    <li>
      <i class="fa fa-edit icon-help"></i>
      Click on any of the details on the card, to edit them.
    </li>
    <li>
      <i class="fa fa-font icon-help"></i>
      Double click or select the text to change its style, size or font.
    </li>
    <li>
      <i class="fa fa-arrows icon-help"></i>
      Drag elements around using the dotted borders that show up when placing the cursor over them.
    </li>
    <li>
      <i class="fa fa-long-arrow-down icon-help"></i>
      Resize the picture or text boxes by dragging the bottom right corner of the dotted box.
    </li>
  </ul>
</div>
