<div class="reveal modal-logaster js-modal-logaster" data-reveal>

  <h2>
    Get a new logo

    <small>
      Create your logo in a minute. Fast and simple.
    </small>
  </h2>

  <div class="widget-logaster">
    <img style="border:0" src="https://partner.logaster.com/scripts/imp.php?a_aid=bizcardmaker&amp;a_bid=751524a1" width="1" height="1" alt="" /><script type="application/javascript" src="https://www.logaster.com/api/cl/"></script>
  </div>

  <div class="logaster-powered">
    Powered by
    <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
      <img src="images/logo-logaster.png" alt="Logaster">
    </a>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
