<div class="sidebar-right show-for-large">

  <div class="callout warning small warning-safari">
    You seem to be using Safari. If you're having issues editing or downloading your business card, please try using

    <a href="https://www.google.com/chrome/browser/" target="_blank"><strong>Google Chrome</strong></a>.
  </div>

  <div class="sidebar-banner">
    <a href="http://ntysr1.com/233578/18676?i=189855" target="_blank">
      <img src="/images/banner-resume-builder.jpg" width="300" height="250" border="0" alt="BEST. RESUME. EVER. Click here and change your life. myPerfectResume" />
    </a>
  </div>

  <button class="button btn-logaster js-btn-logaster">
    Create a logo

    <small>
      Get a great looking logo in minutes
    </small>
  </button>

  <div class="logaster-powered">
    Powered by
    <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
      <img src="images/logo-logaster.png" alt="Logaster">
    </a>
  </div>
</div>
