<div class="sidebar-right">

  <div class="callout warning small warning-safari">
    You seem to be using Safari. If you're having issues editing or downloading your business card, please try using

    <a href="https://www.google.com/chrome/browser/" rel="noopener" target="_blank"><strong>Google Chrome</strong></a>.
  </div>

  {{> help}}

  <div class="card-logaster">
    <h2>
      Create your personal logo
    </h2>

    <form method="get" action="https://www.logaster.com/v3/logo/" target="_blank">
      <img style="border:0; float: left;" src="https://partner.logaster.com/scripts/imp.php?a_aid=bizcardmaker&amp;a_bid=f6a48978" width="1" height="1" alt=""/>

      <label for="t">
        What's your brand name?
      </label>
      <div class="card-logaster-form">
        <input type="text" name="t" id="t" placeholder="Brand Name Inc" autocomplete="off" value="">
        <button type="submit" id="next-btn" class="button btn-logaster">
          Create a logo
        </button>
      </div>
    </form>
  </div>

  <div class="logaster-powered">
    Powered by
    <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
      <img src="images/logo-logaster.png" alt="Logaster">
    </a>
  </div>
</div>
