<div class="sidebar-right show-for-large-up">

  <div class="alert-box warning radius warning-safari">
    You seem to be using Safari. If you're having issues editing or downloading your business card, please try using

    <a href="https://www.google.com/chrome/browser/" target="_blank"><strong>Google Chrome</strong></a>.
  </div>

  <div class="sidebar-banner">
    <a target="_blank" href="http://shareasale.com/r.cfm?b=809186&amp;u=1215865&amp;m=22819&amp;urllink=&amp;afftrack=">
      <img src="http://static.shareasale.com/image/22819/Up-to-60-300x250.jpg" border="0" alt="Up to 60% Off Custom Printing at PsPrint.com" />
    </a>
  </div>

  <button class="button btn-logaster js-btn-logaster">
    Create a logo

    <small>
      Get a great looking logo in minutes
    </small>
  </button>

  <div class="logaster-powered">
    Powered by
    <a href="https://www.logaster.com/ref/bizcardmaker.html" target="_blank">
      <img src="images/logo-logaster.png" alt="Logaster">
    </a>
  </div>
</div>
