<div id="modal-affiliate" class="reveal-modal modal-affiliate" data-reveal>

  <h2>
    Need more for your business?
  </h2>

  <ul class="small-block-grid-3">
    <li class="item-affiliate">

      <a href="#">
        <i class="fa fa-mouse-pointer icon-website icon-affiliate"></i>

        <span>
          Get a beautiful website from wix.com.
        </span>
      </a>

      <p>
        Free for..
      </p>

    </li>
    <li class="item-affiliate">

      <a href="#">
        <i class="fa fa-pencil icon-stationery icon-affiliate"></i>

        <span>
          Get stationery from Vistaprint.
        </span>
      </a>

      <p>
        Free for..
      </p>

    </li>
    <li class="item-affiliate">

      <a href="#">
        <i class="fa fa-bank icon-stationery icon-affiliate"></i>

        <span>
          Accounting and invoicing for non-accountants, from FreshBooks.
        </span>
      </a>

      <p>
        Free for..
      </p>

    </li>
  </ul>

  <p class="affiliate-footer">
    <i class="fa fa-coffee"></i> Got everything you need?

    <a href="#" aria-label="Close">
      Close this dialog
    </a>
  </p>

  <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
