<h2>
  Customize your business card

  <button type="button" class="button tiny radius muted btn-reset" ng-click="ResetCard()" title="Undo all the styling changes you made. The text and logo will stay the same.">
    <i class="fa fa-undo"></i>
    Reset changes
  </button>
</h2>

<div class="card-container js-card-container" ng-class="{ ' state-loading': model.loadingCard }">
  <div class="card-preview {{ model.store.theme }}">

    <div class="card-content">

      <input type="file" id="picture-upload" class="file-upload" fileread="model.cardPictureFile">

      <div class="card-picture" dr-container=".card-content" dr-model="model.store.position.picture" dr-grid="10">

        <label for="picture-upload" ng-class="{ 'no-picture': !model.cardPicture }" title="Click to upload your own logo">

          <i class="fa fa-picture-o"></i>
          <span>Upload your logo</span>

          <img ng-src="{{ model.cardPicture }}">

        </label>
      </div>

      <div class="card-item person" dr-container=".card-content" dr-model="model.store.position.person" dr-grid="10">

        <p meditor ng-model="model.store.card.name" class="fn"></p>
        <p meditor ng-model="model.store.card.position" class="title"></p>

      </div>

      <div class="card-item details" dr-container=".card-content" dr-model="model.store.position.details" dr-grid="10">

        <p meditor ng-model="model.store.card.organization" class="org"></p>
        <p meditor ng-model="model.store.card.location" class="location"></p>
        <p meditor ng-model="model.store.card.phone" class="tel"></p>

      </div>

      <div class="card-item email" dr-container=".card-content" dr-model="model.store.position.email" dr-grid="10">

        <p meditor ng-model="model.store.card.email"></p>

      </div>

      <div class="card-item url" dr-container=".card-content" dr-model="model.store.position.url" dr-grid="10">

        <p meditor ng-model="model.store.card.url"></p>

      </div>

    </div>

  </div>

</div>

<ul class="download-buttons">
  <li class="order-btn order-btn-printchomp">

    <button type="button" class="button secondary" id="js-order-button" ng-click="OpenOrderModal()">
      <i class="fa fa-shopping-cart"></i>
      Cards starting at $9.99!

      <small>Get your business card printed and delivered at the best quality and price! </small>
    </button>

    <p class="partner-text">
      Powered by
      <a href="https://www.printchomp.com/" target="_blank">
        Printchomp
      </a>
    </p>

  </li>
  <li class="order-btn order-btn-printglobe">

    <a href="http://www.shareasale.com/r.cfm?u=1215865&b=543588&m=50699&afftrack=&urllink=www%2Eprintglobe%2Ecom%2Fbusiness%2Dcards" target=_"blank" class="button secondary tip-right" data-tooltip aria-haspopup="true" title="1. Design and download the business card here, for free. <br /> 2. Upload the card to PrintGlobe, and get it printed.">
      <i class="fa fa-shopping-cart"></i>
      Order Premium Business Cards

      <small>
        High quality, affordable priced business cards for a truly professional look.
      </small>
    </a>

    <p class="partner-text">
      Powered by
      <a href="http://www.shareasale.com/r.cfm?u=1215865&b=543588&m=50699&afftrack=&urllink=www%2Eprintglobe%2Ecom%2Fbusiness%2Dcards" target="_blank" title="PrintGlobe - The Printing Superstore">
        PrintGlobe
      </a>
    </p>

  </li>
  <li class="order-btn order-btn-psprint">

    <a href="http://www.shareasale.com/r.cfm?b=283670&u=1215865&m=22819&urllink=&afftrack=" target=_"blank" class="button secondary tip-right" data-tooltip aria-haspopup="true" title="1. Design and download the business card here, for free. <br /> 2. Upload the card to PsPrint, and get it printed.">
      <i class="fa fa-shopping-cart"></i>
      Order Premium Business Cards

      <small>
        High quality, affordable priced business cards for a truly professional look.
      </small>

      <span class="button-promo">
        <strong>50% Off</strong> Ends 04.15.16
      </span>
    </a>

    <p class="partner-text">
      Powered by
      <a href="http://www.shareasale.com/r.cfm?b=283670&u=1215865&m=22819&urllink=&afftrack=" target="_blank">
        PsPrint
      </a>
    </p>

  </li>
  <li>

    <a data-toggle="drop-downloads" class="button muted button-download float-right">
      <i class="fa fa-arrow-circle-o-down"></i>
      <span>Download as...</span>
    </a>

    <div id="drop-downloads" class="dropdown-pane bottom dropdown-download-files" data-dropdown>
      <button type="button" ng-click="DownloadPdf()" class="js-newsletter-subscribe js-affiliate-modal button-download-file">
        <i class="fa fa-file-text"></i>
        Download as PDF
      </button>

      <button type="button" ng-click="DownloadPicture()" class="js-newsletter-subscribe js-affiliate-modal button-download-file">
        <i class="fa fa-picture-o"></i>
        Download as JPEG
      </button>
    </div>

  </li>
</ul>

<div ng-include="'views/order.html'"></div>

