<div id="modal-order" class="reveal-modal modal-order" ng-controller="OrderCtrl" data-reveal>

	<a class="close-reveal-modal">&#215;</a>

	<h2>
		Order prints
		<small>
			Highest quality at the best prices!
		</small>
	</h2>

	<div class="row">

		<div class="large-6 columns">
			<label>Choose one of our exclusive offers</label>

			<ul class="offers-list">

				<div class="loading-indicator" ng-show="!model.offers.length">
					<i class="fa fa-refresh fa-spin"></i>
					Loading offers..
				</div>

				<li ng-repeat="offer in model.offers">

					<label for="{{ offer.id }}">
						<span ng-bind="offer.title"></span>
					</label>
					<input type="radio" name="offers" ng-value="offer.title" id="{{ offer.id }}">

				</li>

			</ul>
		</div>

		<div class="large-6 columns">

			<form>
				<div class="row">
					<div class="large-12 columns">
					<label>
						Your e-mail
						<input type="email" placeholder="" />
					</label>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
					<label>
						When
						<input type="text" class="datepicker" />
					</label>
					</div>
				</div>

				<div class="row">
					<div class="large-4 columns">
						<label>
							Country
							<select ng-model="model.form.country" ng-options="c.name for c in model.countries"></select>
						</label>
					</div>
					<div class="large-4 columns">
						<label>
							State
							<select ng-model="model.form.state" ng-options="s.name for s in model.states"></select>
						</label>
					</div>
					<div class="large-4 columns">
						<label>
							City
							<input type="text" placeholder="" />
						</label>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
					<label>
						Address
						<textarea placeholder=""></textarea>
						<p>* We ship only to the US and Canada</p>
					</label>
					</div>
				</div>

				<button type="submit" class="button radius">Send Order</button>
			</form>

		</div>
	</div>

</div>
