<div id="modal-order" class="reveal-modal modal-order" ng-controller="OrderCtrl" data-reveal>

	<a class="close-reveal-modal">&#215;</a>

	<h2>
		Order prints
		<small>
			Highest quality at the best prices!
		</small>
	</h2>

	<div class="row">

		<div class="large-4 columns">
			<label>Choose one of our exclusive offers</label>

			<ul class="offers-list">

				<div class="loading-indicator" ng-show="!model.offers.length">
					<i class="fa fa-refresh fa-spin"></i>
					Loading offers..
				</div>

				<li ng-repeat="offer in model.offers">

					<label for="{{ offer.id }}">
						<span ng-bind="offer.title"></span>
					</label>
					<input type="radio" name="offers" ng-value="offer.title" id="{{ offer.id }}">

				</li>

			</ul>
		</div>

		<div class="large-8 columns">

			<form>
				<div class="row">
					<div class="large-4 columns">
						<label>
							Your e-mail
							<input type="email" placeholder="" />
						</label>
					</div>
					<div class="large-4 columns">
						<label>
							Full name
							<input type="text" placeholder="" />
						</label>
					</div>
					<div class="large-4 columns">
						<label>
							Phone
							<input type="text" placeholder="" />
						</label>
					</div>
				</div>

				<h4 class="form-section">
					Billing details
				</h4>

				<div class="row">
					<div class="large-3 columns">
						<label>
							Country
							<select ng-model="model.form.country" ng-options="c.name for c in model.countries"></select>
						</label>
						<small>We only ship to the US and Canada</small>
					</div>
					<div class="large-3 columns">
						<label>
							Region
							<select ng-model="model.form.state" ng-options="s.name for s in model.states"></select>
						</label>
					</div>
					<div class="large-3 columns">
						<label>
							City
							<input type="text" placeholder="" />
						</label>
					</div>
					<div class="large-3 columns">
						<label>
							Postal code
							<input type="text" placeholder="" />
						</label>
					</div>
				</div>

				<div class="row">
					<div class="large-6 columns">
						<label>
							Address line 1
							<input type="text" placeholder="" />
						</label>
					</div>
					<div class="large-6 columns">
						<label>
							Address line 2
							<input type="text" placeholder="" />
						</label>
					</div>
				</div>

				<h4 class="form-section">
					Shipping details
				</h4>

				<div class="row">
					<div class="large-6 columns">
						<input type="radio" name="pokemon" value="Red" id="pokemonRed">
						<label for="pokemonRed">Use the same details as for Billing</label>
					</div>
					<div class="large-6 columns">
						<input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
						<label for="pokemonBlue">Use different details</label>
					</div>
				</div>

				<button type="submit" class="button radius">Send Order</button>
			</form>

		</div>
	</div>

</div>
