---
layout: page.html
title: About
---

<section>
  <div class="row">
    <div class="large-12 columns">
      <h2>{{ title }}</h2>

      <div class="row">

        <div class="large-6 columns">
          <p><a href="/index.html">Business Card Maker</a> allows you to easily create your own business cards in seconds, <strong>for free</strong>, online in the browser without using any extra software, from high quality professional designs. </p>

          <p>Just type in your contact details, along with your logo or picture, replacing the predefined ones on the preview business card, and get a printable PDF that you can print at home or at your local printer, or a high quality picture that you can share on Facebook, or anywhere else online. </p>
        </div>

        <div class="large-6 columns">
          <p><em>For best quality, print the PDF with the business cards on an A4 sized paper. </em> If you can't print on A4, you can print on letter sized paper and the results should be similar. </p>

          <p>Once you've printed the PDF, you'll get 10 business cards on a page that you can then cut up! </p>

          <p>For the picture, try to use images with a large resolution, and transparent background, if possible. </p>
        </div>
      </div>

    </div>
  </div>
</section>
