---
layout: content.html
title: About
---

<div class="row">

  <div class="large-6 columns">
    <p>
      <a href="/">Business Card Maker</a> allows you to easily create business cards in seconds, <strong>for free</strong>, using high quality professional designs, in your web browser without having to install any extra software.
    </p>

    <p>
      Just type in your contact details on the business card, add a logo or picture, and get a printable PDF that you can print at home or at your local printer, or a high quality picture that you can share on Facebook, or anywhere else online.
    </p>

    <p>
      You can order printed business cards by clicking the <a href="/"><strong>Get printed business cards</strong></a> button, under the business card.
    </p>
  </div>

  <div class="large-6 columns">
    <p>
      For the best quality use glossy or thick paper when printing at home. The high-resolution PDF is ready for professional printing and includes bleed and crop marks.
    </p>

    <p>
      To get the perfect size for your business cards, just cut along the crop marks.
    </p>

    <p>
      For the logo, try to use images with a large resolution, and transparent background, if possible.
    </p>
  </div>
</div>
