---
layout: content.html
title: Contact Us
---

<div class="row">

  <div class="large-6 columns">

    <a href="mailto:contact@bizcardmaker.com" class="box-contact button muted">
      <strong>
        <i class="fa fa-envelope"></i>
        Email
      </strong>

      contact@bizcardmaker.com
    </a>

  </div>

  <div class="large-6 columns">

    <a href="https://twitter.com/bizcardmakercom" target="_blank" class="box-contact button muted">
      <strong>
        <i class="fa fa-twitter"></i>
        Twitter
      </strong>

      @bizcardmakercom
    </a>

  </div>

</div>
