---
layout: page.html
title: Contact Us
---

<section>
	<div class="row">
		<div class="large-12 columns">
			<h2>{{ title }}</h2>

			<p>
				Contact us at <a href="mailto:contact@bizcardmaker.com">contact@bizcardmaker.com</a>.
			</p>

		</div>
	</div>
</section>

