---
layout: page.html
title: Contact Us
---

<section>
	<div class="row">
		<div class="large-12 columns">
			<h2>{{ title }}</h2>

			<ul>
				<li>
					Email:
					<a href="mailto:contact@bizcardmaker.com">
						contact@bizcardmaker.com
					</a>
				</li>
				<li>
					Twitter:
					<a href="https://twitter.com/bizcardmakercom" target="_blank">
						@bizcardmakercom
					</a>
				</li>
			</ul>

		</div>
	</div>
</section>

