---
layout: content.html
title: Frequently Asked Questions
---

<dl>
  <dt>How can I edit the details on the business card?</dt>
  <dd>You can edit any of the details on the business card by simply clicking on them, and then editing them as you would using a regular Word processor. </dd>

  <dt>How can I add a logo/picture to the business card?</dt>
  <dd>To add a logo or picture to the business card, click the <em>Upload you logo</em> button, on the business card preview. If you've already uploaded a picture, click it again to upload a different one. </dd>

  <dt>How can I change the text styles (size, weight, font, etc.)?</dt>
  <dd>Select any of the text on the business card, and the text editing toolbar will show up above the selected text, allowing you to edit the text styles. </dd>

  <dt>What's the best logo size? </dt>
  <dd>The <em>width</em> of your logo should be at least <em>400px</em>, for best print results. The <em>height</em> can be as large or small as you need it, but it's good to have it as to the close to the width value as possible, to keep a square form factor. </dd>

  <dt>What paper should I print the business cards on?</dt>
  <dd>
    For the best quality use <em>12pt/350g</em> thick paper.
  </dd>

  <dt>What is the size of the downloaded PDF?</dt>
  <dd>
    The PDF you download is 4.45" x 2.95", and contains a single business card with bleed and crop marks to help you cut to the perfect size.
    It's ready for professional printing, so you can also send it to any printer.
  </dd>

  <dt>What is the size of the business card?</dt>
  <dd>
    The business card is 3.75" x 2.25", or roughly 95 x 57 (mm), and includes bleed.
    Once you've cut the margins from the printed PDF your cards will be <em>3.5" x 2"</em>.
  </dd>

  <dt>
    How do you handle the information on the business cards, and elsewhere on the website?
  </dt>
  <dd>
    We do not sell, or market, your personal details in any way. <br>
    See more details in our <a href="/privacy.html">Privacy Policy</a>.
  </dd>

  <dt>How can I report bugs or suggest improvements?</dt>
  <dd>Go to our <a href="/contact.html">Contact</a> page for suggestions, bugs or any other feedback. </dd>

</dl>
