---
layout: page.html
title: Frequently Asked Questions
---

<section>
	<div class="row">
		<div class="large-12 columns">
			<h2>{{ title }}</h2>

			<dl>
				<dt>How can I edit the details on the business card?</dt>
				<dd>You can edit any of the details on the business card by simply clicking on them, and then editing them as you would using a regular Word processor. </dd>

				<dt>How can I add a logo/picture to the business card?</dt>
				<dd>To a logo or picture to the business card, click the <em>Upload you logo</em> button, on the business card preview. If you've already uploaded a picture, click on it again to upload a different one. </dd>

				<dt>How can I change the text styles (size, weight, font, etc.)?</dt>
				<dd>Select any of the text on the business card, and the text editing toolbar will show up above the selected text, allowing you to edit the text styles. </dd>

				<dt>What's the best logo size? </dt>
				<dd>The <em>width</em> of your logo should be at least <em>400px</em>, for best print results. The <em>height</em> can be as large or small as you need it, but it's good to have it as to the close to the width value as possible, to keep a square form factor. </dd>

				<dt>What paper size should I print the business cards on?</dt>
				<dd>For best quality, print the PDF with the business cards on an A4 sized paper. If you can't print on A4, you can print on letter sized paper and the results should be similar. </dd>

				<dt>What is the size of an individual business card, after slicing the printed A4 page?</dt>
				<dd>An individual business card is 3.75" x 2.25", or roughly 95 x 57 (mm), and includes bleed. </dd>

				<dt>How can I report bugs or suggest improvements?</dt>
				<dd>For suggestions, bugs or general feedback, click the green question mark button in the bottom right. </dd>
			</dl>

		</div>
	</div>
</section>

