---
layout: page.html
title: ''
---

<div class="card-maker" ng-app="businessCardMaker">
  <div ng-class="{ 'card-small-screen': root.smallScreen }" ng-view></div>
</div>

<div class="tutorial-tour">
  <ol class="joyride-list" data-joyride data-options="cookie_monster: false;">
    <li data-id="js-themes" data-text="Next">
      <p>Select one of the available templates for your business card. </p>
    </li>
    <li data-id="js-card-container" data-text="Next">
      <p>Edit all of the details on the business card by simply clicking on them. </p>
      <p>You can also upload your own logo or picture, by clicking the picture icon. </p>
    </li>
    <li data-id="js-order-button" data-button="Next" data-options="tip_location: top">
      <p>Once you're done editing, choose one of our high quality exclusive offers and have the cards delivered to you! </p>
    </li>
    <li data-id="js-download-button" data-button="Done" data-options="tip_location: top">
      <p>You can also download the business card as JPEG or PDF, to use online or print yourself. </p>
    </li>
  </ol>
</div>

<div class="print-promo">
  <ol class="joyride-list" data-joyride data-options="next_button: false; modal: true; expose: true; cookie_monster: true; cookie_name: 'print-promo'">
    <li data-id="js-order-button">
      <strong>New!</strong>
      <p>We've partnered with <a href="https://www.printchomp.com/" target="_blank">Printchomp</a>, and now offer you exclusive deals on high-quality prints! </p>
      <p>Check out our offers by clicking the <em>Order Cards</em> button above. </p>
    </li>
  </ol>
</div>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='77196193-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script>
<script>
  if(document.domain === 'www.bizcardmaker.com') {
    utmx('url','A/B');
  }
</script>
<!-- End of Google Analytics Content Experiment code -->

