---
layout: page.html
title: ''
---

<div class="card-maker pgprint" ng-app="businessCardMaker">
  <div class="app-view">
    <section class="themes-box">
      <h2 class="show-for-medium">
        Choose a design
      </h2>

      <div class="themes-row" id="js-themes">
        {{#each themes.list}}
            <a href="#/?theme={{ this.name }}" class="theme-item {{ this.name }}-thumb js-{{ this.name }}">
              <div class="theme-preview-container">
                <div class="theme-preview"></div>
              </div>
            </a>
        {{/each}}

      </div>
    </section>

    <section class="card-editor" ng-controller="MainCtrl" ng-include="'views/cardeditor.html'"></section>
  </div>

  <div class="sidebar-right">

    <div class="callout warning small warning-safari">
      You seem to be using Safari. If you're having issues editing or downloading your business card, please try using

      <a href="https://www.google.com/chrome/browser/" rel="noopener" target="_blank"><strong>Google Chrome</strong></a>.
    </div>

    {{> help}}
    {{> smashinglogo}}
  </div>
</div>

{{> gorgiastemplates }}
