---
layout: page.html
title: ''
---

<div class="card-maker" ng-app="businessCardMaker">
  <div class="app-view">
    <section class="themes-box">
      <h2 class="show-for-medium">
        Choose a design
      </h2>

      <div class="themes-row" id="js-themes">
        {{#each themes.list}}
            <a href="#/?theme={{ this.name }}" class="theme-item {{ this.name }}-thumb js-{{ this.name }}">
              <div class="theme-preview-container">
                <div class="theme-preview"></div>
              </div>
            </a>
        {{/each}}

      </div>
    </section>

    <section class="card-editor" ng-controller="MainCtrl" ng-include="'views/cardeditor.html'"></section>
  </div>

  {{> sidebar }}
</div>

{{> affiliate }}
{{> logaster }}

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='77196193-6',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script>
<script>
if (window.location.host.indexOf('localhost') === -1) {
  utmx('url','A/B');
}
</script>
<!-- End of Google Analytics Content Experiment code -->
