---
layout: page.html
title: News
---

<section>
	<div class="row">
		<div class="large-12 columns">
			<h2>{{ title }}</h2>

			<dl>
				<dt>March 12, 2014</dt>
				<dd>

					<ul>
						<li>Improved the business card size format. We now use the standard 3.5" wide x 2" high, which along with the included bleed area goes up to  3.75" x 2.25". </li>
					</ul>

				</dd>

				<dt>February 22, 2014</dt>
				<dd>

					<ul>
						<li>New feature allowing the dragging of any object on the business card. Just hover the text or picture, and a dotted drag handle will appear, which you can use to drag the object around. </li>
					</ul>

				</dd>

				<dt>February 10, 2014</dt>
				<dd>

					<ul>
						<li>
							You can now use Business Card Maker on your own website or app! Free for open-source and non-commercial projects. <br>
							For commercial projects, you can buy an individual developer license for $40. <br>
							Contact me at <a href="mailto:contact@bizcardmaker.com">contact@bizcardmaker.com</a> for more details.
						</li>
					</ul>

				</dd>

				<dt>February 4, 2014</dt>
				<dd>

					<ul>
						<li>Business Card Maker is now ad-free.  </li>
					</ul>

				</dd>

				<dt>January 6, 2014</dt>
				<dd>

					<ul>
						<li>Change the layout of the business cards on the PDF for print, to be able to print them using services like UPS or FedEx. The PDF is now a portrait page with 10 business cards, on two columns.  </li>
						<li>Use a different technique for downloading the picture file, to fix issues caused by pop-up blockers. </li>
						<li>Small tweaks for better print quality. </li>
					</ul>

				</dd>

				<dt>January 4, 2014</dt>
				<dd>

					<ul>
						<li>Upgrade to Foundation 5.</li>
						<li>News page, to keep people up to date with the latest progress.</li>
					</ul>

				</dd>
			</dl>

		</div>
	</div>
</section>

