---
layout: content.html
title: Privacy Policy
---

<h4>
  Short Version
</h4>

<ul>
  <li>
    We do not sell, or market, your personal details in any way.
  </li>
  <li>
    The details you enter on the business card are stored only in your browser.
  </li>
  <li>
    We use Google Analytics to track visitor numbers and some limited behavior like the number of downloaded business cards.
  </li>
  <li>
    We do not store any of your personal information in Google Analytics. Your IP address is anonymized.
  </li>
  <li>
    Affiliate networks (eg. <a href="https://www.shareasale.com/">shareasale.com</a>) use cookies to track users coming from our site.
  </li>
</ul>


<hr />

<p>
  This Privacy Policy describes how your personal information is collected, used, and shared when you visit or use <a href="/">www.bizcardmaker.com</a> (the “Site”).
</p>

<h4>
  Personal Information We Collect
</h4>

<p>
  When you visit the Site, we automatically collect certain information about your device, including information about your web browser, anonymized IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information.”
<p>

<p>
  We collect Device Information using the following technologies:
</p>

<ul>
  <li>
    “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit <a href="http://www.allaboutcookies.org.">http://www.allaboutcookies.org.</a>
  </li>
</ul>

<h4>
  How Do We Use Your Personal Information?
</h4>

<p>
  We use the Device Information that we collect to help us improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site).
</p>

<h4>
  Sharing Your Personal Information
</h4>

<p>
  We share your Personal Information with Google Analytics to help us understand how our customers use the Site - you can read more about how Google uses your Personal Information here:  <a href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>.  You can also opt-out of Google Analytics here: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
</p>

<h4>
  Your Rights
</h4>

<p>
  If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.
</p>

<h4>
  Changes
</h4>

<p>
  We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
</p>

<h4>
  Contact Us
</h4>

<p>
  For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:contact@bizcardmaker.com">contact@bizcardmaker.com</a>.
</p>

<p>
  This document was last updated on {{moment format="DD MMMM YYYY"}}.
</p>
